@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap");
/*Poppins*/
.fontPoppinsL {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.fontPoppinsM {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.fontPoppinsB {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.fontPoppinsXB {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

/*Roboto*/
.fontRobotoL {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.fontRobotoM {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.fontRobotoB {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  p.titleIndex {
    margin-top: 150px;
    font-size: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  p.titleIndex {
    margin-top: 200px;
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 1280px) {
  p.titleIndex {
    margin-top: 180px;
    font-size: 5em;
  }
}

@media only screen and (min-width: 1440px) {
  p.titleIndex {
    margin-top: 250px;
    font-size: 5em;
  }
}

@media only screen and (min-width: 1920px) {
  p.titleIndex {
    margin-top: 350px;
    font-size: 7em;
  }
}

@media only screen and (min-width: 320px) {
  .item {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 425px) {
  h1.shopTitle {
    font-size: 3rem;
  }
  .item {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 425px) {
  h1.shopTitle {
    font-size: 5rem;
  }
}

.navbar .nav-link {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .navbar-brand img {
  width: 140px;
}

.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10PX;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 0 0 9px #111;
  color: white;
}

#bodyIndex {
  background: url(../media/fondo.jpg) no-repeat center fixed;
  background-size: cover;
}

#bodyShop {
  background: url(../media/fondo2.jpg) no-repeat center fixed;
  background-size: cover;
}

#bodyWine {
  background: url(../media/fondo2.jpg) no-repeat center fixed;
  background-size: cover;
}

#bodyKnowus {
  background: url(../media/fondo3.jpg) no-repeat center fixed;
  background-size: cover;
}

#bodyContact {
  background: url(../media/fondo3Contacto.jpg) no-repeat center;
  background-size: cover;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#cfd0cf), color-stop(50%, #cccfcc), to(#e3e6e3));
  background: linear-gradient(90deg, #cfd0cf 0%, #cccfcc 50%, #e3e6e3 100%);
  height: auto;
  width: 100%;
  padding-top: 35px;
  margin-top: 50px;
  color: black;
}

.footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .footerContent h6 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.footer .footerContent h6 a {
  text-decoration: none;
  color: black;
}

.footer .footerContent p {
  max-width: 500px;
  margin: 10px 10px;
  font-size: 18px;
}

.footer .footerContent .iconSocial {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer .footerContent .iconSocial li {
  margin: 0 20px;
}

.footer .footerContent .iconSocial a {
  text-decoration: none;
  color: #222020;
}

.footer .footerContent .iconSocial a i {
  font-size: 32px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.footer .footerContent .iconSocial a:hover {
  color: #505050;
}

.footer .bottomSection {
  background: #8b8989;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer .bottomSection p {
  font-size: 14px;
  word-spacing: 2px;
  padding-top: 10px;
}

.titleIndex {
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  color: black;
  margin-top: 150px;
  font-size: 2em;
}

.titleIndex:hover {
  text-shadow: 0 0 12px rgba(155, 154, 154, 0.788);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.background1Column {
  background: -webkit-gradient(linear, left top, right top, from(#e6a713), color-stop(53%, #f1c834), to(#fae91f));
  background: linear-gradient(90deg, #e6a713 0%, #f1c834 53%, #fae91f 100%);
}

.background2Column {
  background: -webkit-gradient(linear, left top, right top, from(#e61d13), color-stop(53%, #f18c34), to(#fa9f1f));
  background: linear-gradient(90deg, #e61d13 0%, #f18c34 53%, #fa9f1f 100%);
}

.background3Column {
  background: -webkit-gradient(linear, left top, right top, from(#b97214), color-stop(53%, #f1bf34), to(#facf1f));
  background: linear-gradient(90deg, #b97214 0%, #f1bf34 53%, #facf1f 100%);
}

.meadContainer {
  width: 100%;
  margin-top: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.meadContainer .porductCard {
  position: relative;
  border-radius: 10px;
}

.meadContainer .porductCard .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1;
  border-radius: 20px;
}

.meadContainer .porductCard .item img {
  position: absolute;
  width: 180px;
  height: 250px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.meadContainer .porductCard .face {
  width: 300px;
  height: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.meadContainer .porductCard .face.face1 {
  position: relative;
  background-color: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateY(162px);
          transform: translateY(162px);
}

.meadContainer .porductCard .face.face2 {
  position: relative;
  border-radius: 20px;
  background: url(../media/fondobottle.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 50px black;
          box-shadow: 0 20px 50px black;
  -webkit-transform: translateY(-88px);
          transform: translateY(-88px);
}

.meadContainer .porductCard .face.face2 a {
  color: white;
  text-decoration: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: .8rem 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 25%;
}

.meadContainer .porductCard .face.face2 p {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
  color: black;
}

.meadContainer .porductCard:nth-child(1) .item {
  background: -webkit-gradient(linear, left top, right top, from(#e6a713), color-stop(53%, #f1c834), to(#fae91f));
  background: linear-gradient(90deg, #e6a713 0%, #f1c834 53%, #fae91f 100%);
}

.meadContainer .porductCard:nth-child(2) .item {
  background: -webkit-gradient(linear, left top, right top, from(#e61d13), color-stop(53%, #f18c34), to(#fa9f1f));
  background: linear-gradient(90deg, #e61d13 0%, #f18c34 53%, #fa9f1f 100%);
}

.meadContainer .porductCard:nth-child(3) .item {
  background: -webkit-gradient(linear, left top, right top, from(#b97214), color-stop(53%, #f1bf34), to(#facf1f));
  background: linear-gradient(90deg, #b97214 0%, #f1bf34 53%, #facf1f 100%);
}

.meadContainer .porductCard:hover .face.face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.meadContainer .porductCard:hover .face.face1 .content {
  opacity: 1;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.meadContainer .porductCard:hover .face.face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shopTitle {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
  cursor: default;
  color: black;
}

.wineContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wineContainer .wineCard {
  background: url(../media/fondobottle.jpg);
  width: 330px;
  height: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1px 20px 20px 20px;
  margin-bottom: 60px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: default;
}

.wineContainer .wineCard img {
  padding-top: 10px;
  width: 180px;
  height: 250px;
}

.wineContainer .wineCard .item {
  font-weight: 900;
  padding-bottom: 15px;
  cursor: default;
}

.wineContainer .wineCard .wineDescription {
  font-size: 16px;
  padding-bottom: 50px;
  cursor: default;
}

.wineContainer .wineCard .cardButton {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #030303;
}

.wineContainer .wineCard .cardButton:hover {
  background-color: #5d5e5f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wineContainer .wineCard:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90%;
  background-color: rgba(204, 204, 204, 0.644);
  margin: 80px auto 50px;
}

.card img {
  border: 5px dotted black;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card p {
  padding: 10px;
  display: inline-block;
}

@media (min-width: 576px) {
  .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .card img {
    width: 300px;
    height: 300px;
    margin: 10px 15px;
  }
  .card.impar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card.par {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contactArea {
  padding: 70px 0;
}

.contactArea p {
  font-size: 2.5em;
  text-align: center;
  color: snow;
}

.contactArea .line {
  width: 100px;
  height: 10px;
  background: #cfcfcf;
  margin: 40px auto;
}

.contactArea .contactForm {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contactArea .contactForm .contactText {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: black;
  padding: 20px 40px;
  outline: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactArea .contactForm .contactText:focus {
  -webkit-box-shadow: 0 0 10px 4px #9b9c9c;
          box-shadow: 0 0 10px 4px #9b9c9c;
}

.contactArea .contactForm .contactText .formTextArea {
  resize: none;
  height: 120px;
}

.contactArea .contactForm .contactButton {
  float: right;
  border: 0;
  background: #000000;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactArea .contactForm .contactButton:hover {
  background: #2e2e2e;
}

.contactArea .contactForm .reset {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */