#bodyIndex {
    background: url(../media/fondo.jpg) no-repeat center fixed;
    background-size: cover;
}

#bodyShop {
    background: url(../media/fondo2.jpg) no-repeat center fixed;
    background-size: cover;
}

#bodyWine {
    background: url(../media/fondo2.jpg) no-repeat center fixed;
    background-size: cover;
}

#bodyKnowus {
    background: url(../media/fondo3.jpg) no-repeat center fixed;
    background-size: cover;
}

#bodyContact {
    background: url(../media/fondo3Contacto.jpg) no-repeat center;
    background-size: cover;
}